
{{#post}}
    <div>
        <a href="/">
            <button>HOME!</button>
        </a>
        <div>
            Test: {{test}}
        </div>

        <div>
            <a href="/posts/{{_id}}/edit">
                <button>EDIT</button>
            </a>
        </div>
    </div>
{{/post}}