<h1>Edit!</h1>
<a href="/">
    <button>HOME</button>
</a>

<form action="/posts/{{_id}}/update" method="post">
    <label for="thing">Thing:<br>
        <input type="text" name="test" id="thing" value="{{test}}"/>
    </label>
    <br>

    <input type="submit" value="Submit">
</form>

<form action="/posts/{{_id}}/delete" method="post">
    <input type="submit" value="DELETE"/>
</form>