{{#if newError}}
   <h1 style="color: red;">{{newError}}</h1>
{{/if}}
<a href="/">HOME!</a>
<form action="/" method="post">
    Some Input<input type="text" name="test"/><br/>
    Submit<input type="submit"/>
</form>

