
{{#posts}}
    <div>
        <a href="/">
            <button>HOME!</button>
        </a>
     <div>
         Thing: {{posts}}
     </div>

        <div>
            <a href="/posts/{{_id}}/edit">
                <button>EDIT</button>
            </a>
        </div>
    </div>
{{/posts}}
